@charset "UTF-8";
header {
  background: url(/img/Fondo.jpg);
  color: black;
  padding-bottom: 10px;
}
header .containerlogos {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .containerlogos .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .containerlogos .row .col-sm {
  text-align: center;
}
header .containerlogos .row .col-sm .logo-1,
header .containerlogos .row .col-sm .logo-2 {
  max-width: 150px;
  height: auto;
  margin: 0 10px;
}

.anim {
  transition: transform 1s ease-out;
  color: rgb(215, 223, 145);
}
.anim:hover {
  transform: scale(1.3);
}

.menu {
  color: rgb(129, 254, 2);
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 768px) {
  header .containerlogos .row {
    flex-direction: column;
  }
  header .containerlogos .row .col-sm {
    margin: 10px 0;
  }
}
.Main-boton {
  position: relative;
}
.Main-boton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url(/imagenes/fondo\ header.jpg);
  background-size: contain;
  z-index: -1;
}
.Main-boton .boton {
  text-align: center;
  text-size-adjust: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid #e4a837;
  text-decoration: none;
  color: #e4a837;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}
.Main-boton .boton:hover {
  background-color: #3b6754;
  border-color: #666;
}

.VerificarEdad {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/fondo1.jpg") center center fixed;
  background-size: cover;
  color: #e4a837;
  text-shadow: 10px 10px 10px black;
}
.VerificarEdad #formulario {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  background: url("../images/Fondo.jpg");
  box-shadow: 10px 10pc 30px rgba(0, 0, 0, 0.2);
  border: 5px solid #333;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.VerificarEdad #formulario label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
.VerificarEdad #formulario input {
  width: calc(100% - 20px);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.VerificarEdad #formulario button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.VerificarEdad #formulario button:hover {
  background-color: #555;
}
@media screen and (max-width: 768px) {
  .VerificarEdad #formulario {
    width: 90%;
  }
  .VerificarEdad #formulario input {
    width: calc(100% - 20px);
    font-size: 14px;
  }
  .VerificarEdad #formulario button {
    width: 300px;
    padding: 10px 20px;
    background-color: #19372b;
    color: #e4a837;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .VerificarEdad #formulario button:hover {
    background-color: #555;
  }
}

.descripcionGolden {
  display: flex;
  align-items: center;
}

.descripcionGolden img {
  max-width: 50%; /* Ajusta el tamaño de la imagen según lo necesites */
  margin-top: 20px;
}

.descripcionGolden .texto {
  flex: 1;
  margin-left: 20px; /* Espacio entre la imagen y el texto */
  color: #e4a837;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  color: #e4a837;
}

footer {
  background-color: #19372b;
  color: #f5c05d;
  text-align: center;
  padding: 20px 0;
}

/* Estilos para las semillas */
.semilla {
  width: calc(25% - 40px); /* Ancho de cada columna (25% - margen) */
  margin: 20px; /* Espacio entre las semillas */
  padding: 10px;
  text-align: center;
  /* Estilo para la imagen dentro de cada semilla */
}
.semilla img {
  width: 100%; /* Tamaño máximo del ancho */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para la imagen principal */
.main-image {
  box-sizing: content-box;
  background: url(../images/fondo1.jpg) no-repeat;
  background-size: cover;
  box-shadow: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.main-image h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 10px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.main-image p {
  text-align: center;
  font-size: 1.5em;
  color: rgb(215, 223, 145);
  font-weight: 200;
  padding: 0px 30px;
  text-shadow: -1.3px -1.3px 0 black, 1.3px -1.3px 0 black, -1.3px 1.3px 0 black, 1.3px 1.3px 0 black;
}

.btn {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.btn .boton {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn .boton:hover {
  background-color: #555;
}

#lista-carrito img {
  width: 50px; /* Tamaño deseado */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilos para el botón de "Agregar al Carrito" */
.agregar-carrito {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.agregar-carrito:hover {
  background-color: #555;
}

/* Estilos para el botón de "Limpiar Carrito" */
#limpiar-carrito {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#limpiar-carrito:hover {
  background-color: #555;
}

#carrito {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1.5PX solid #030000;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
}
#carrito h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
#carrito ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
#carrito p {
  margin-bottom: 15px;
}
#carrito button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#carrito button:hover {
  background-color: #555;
}

.contacto-form form {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contacto-form form label {
  margin-bottom: 5px;
}
.contacto-form form input[type=text],
.contacto-form form input[type=email],
.contacto-form form textarea {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #3b6754;
  color: #333;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.contacto-form form button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contacto-form form button:hover {
  background-color: #555;
}

body {
  background-color: #19372b;
}

/*# sourceMappingURL=style.css.map */
