$color-principal-titulos: #e4a837;
$color-subtitulos: #f5c05d;
$color-texto: #fff79a;
$color-fondo: #19372b;
$color-fondo-sec: #3b6754;
$color-sombra: rgba(0, 0, 0, 0.2);
$color-borde: #333;
$color-link: #3498db;
$breakpoint: 768px;
$border-color: #f2f2f2;
$max-image-size: 50%;
